<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>All Chat!</h2>
<form action="/chats/new">
    <button>New Chat</button>
</form>
    <% for(chat of chats){  %>
        <div class="chat">
            <p><h4>From: <i> <%= chat.from %> </i></h4><p>
            <div class="msg">
                <p><%= chat.msg %></p>
<div style="display: inline-block;"><form action="/chats/<%= chat._id %>/edit">
    <button>Edit</button></form></div>
    <div style="display: inline-block;"> <form action="/chats/<%= chat._id %>?_method=DELETE" method="post">
    <button>Delete</button></form></div>

            </div>
            <p><h5>Recieved by: <i> <%= chat.to %></i></h5></p></p>
            <hr>
            <p><%= chat.created_at.toString().split(" ")[4] %></p> 
            <p><%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %></p>
        </div>
        <br><br>
        <%  } %>
</body>
</html>